{% extends "carDiagnosis/all.html" %}

{% block modelData %}

<form action="", method="POST"> {% csrf_token %}
    <label for="engine_code">Engine code: </label>
    <input id="engine_code" type="text" name="engine_code">

    <label for="engine_volume">Engine volume: </label>
    <input id="engine_volume" type="text" name="engine_volume">

    <label for="engine_type">Engine type: </label>
    <input id="engine_type" type="text" name="engine_type">

    <label for="engine_power">Engine power: </label>
    <input id="engine_power" type="text" name="engine_power">

    <label for="engine_vin">Engine vin: </label>
    <select name="engine_vin" id="engine_vin">
        {% for vinOption in carVinOptions %}
            <option value='{{ vinOption }}'>{{ vinOption }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="submit">
</form> 

{% endblock %}