{% extends "carDiagnosis/all.html" %}

{% block modelData %}

<form action="", method="POST"> {% csrf_token %}
    <label for="gas_station_id">Gas station id: </label>
    <input id="gas_station_id" type="text" name="gas_station_id">

    <label for="gas_station_name">Gas station name: </label>
    <input id="gas_station_name" type="text" name="gas_station_name">

    <label for="gas_station">Gas station number: </label>
    <input id="gas_station" type="text" name="gas_station">

    <input type="submit" value="submit">
</form> 

{% endblock %}