{% extends "carDiagnosis/all.html" %}

{% block modelData %}

<form action="", method="POST"> {% csrf_token %}
    <label for="gas_station_id">Gas station id: </label>
    <select name="gas_station_id" id="gas_station_id">
        {% for gasStationId in gasStationIdOptions %}
            <option value='{{ gasStationId }}'>{{ gasStationId }}</option>
        {% endfor %}
    </select>

    <label for="car_vin">Car vin: </label>
    <select name="car_vin" id="car_vin">
        {% for carVin in carVinOptions %}
            <option value='{{ carVin }}'>{{ carVin }}</option>
        {% endfor %}
    </select>

    <label for="by_whom">Filled by who: </label>
    <input id="by_whom" type="text" name="by_whom">

    <label for="fuel_type">Which type of fuel: </label>
    <input id="fuel_type" type="text" name="fuel_type">

    <label for="amount_of_fuel">How much fuel: </label>
    <input id="amount_of_fuel" type="text" name="amount_of_fuel">

    <input type="submit" value="submit">
</form> 

{% endblock %}