{% extends "carDiagnosis/all.html" %}

{% block modelData %}

<form action="", method="POST"> {% csrf_token %}
    <label for="owner_name">Owner name: </label>
    <input id="owner_name" type="text" name="owner_name">

    <label for="owner_license">Owner license: </label>
    <select name="owner_license" id="owner_license">
        {% for licenseOption in licenseOptions %}
            <option value='{{ licenseOption }}'>{{ licenseOption }}</option>
        {% endfor %}
    </select>

    <label for="owner_car_registration">Car registration: </label>
    <input id="owner_car_registration" type="text" name="owner_car_registration">

    <input type="submit" value="submit">
</form> 

{% endblock %}