<html>
    <head>
        <style>
            .table {
                display: flex;
                justify-content: space-between;
                width: 30%;
            }

            .table > div {
                width: 35%;
            }

            .generator {
                width: 10%;
                margin: auto 0;
            }
        </style>
    </head>
    <body>
        <div class="generator">
            <a href="{% url 'randomData' %}">Generate Data</a>
        </div>

        <div class="generator">
            <a href="{% url 'deleteData' %}">Delete Data</a>
        </div>

        <div class="generator">
            <a href="{% url 'show' %}">Find by filter</a>
        </div>

        <div class="table">
            
            <div>
                <a href="{% url 'allCars' %}">all cars info   </a>
            </div>
            
            <div>
                <a href="{% url 'addCar' %}">add car</a> 
            </div>           
        
        </div>

        <div class="table">
            
            <div>
                <a href="{% url 'allOwners' %}">all owners info</a>
            </div>
            
            <div>
                <a href="{% url 'addOwner' %}">add owner</a>
            </div>

        </div>

        <div class="table">
            
            <div>
                <a href="{% url 'allGasStations' %}">all gas stations info</a>
            </div>

            <div>
                <a href="{% url 'addGasStation' %}">add gas stations</a>
            </div>
                        
        </div>

        <div class="table">
            
            <div>
                <a href="{% url 'allEngines' %}">all engines info</a>
            </div>

            <div>
                <a href="{% url 'addEngine' %}">add engine</a>
            </div>
                        
        </div>

        <div class="table">
            
            <div>
                <a href="{% url 'allLicenses' %}">all licenses info</a>
            </div>

            <div>
                <a href="{% url 'addLicense' %}">add license</a>
            </div>
                        
        </div>

        <div class="table">
            
            <div>
                <a href="{% url 'allGasStationCars' %}">all gas station process info</a>
            </div>

            <div>
                <a href="{% url 'addGasStationCar' %}">add info about process</a>
            </div>
                        
        </div>

    </body>
</html>