{% extends "carDiagnosis/all.html" %}

{% block modelData %}

    {% for item in listOptions   %}

        <p>{{item}}</p>

    {% endfor %}

    <form action="", method="POST"> {% csrf_token %}

        <label for="filter">Filter by: </label>
        <input id="filter" type="text" name="filter">
        
        <select name="table_type" id="table_type">
                <option value='owner'>Owner info</option>
                <option value='car'>Car info</option>
                <option value='engine'>Engine info</option>
        </select>
    
        <input type="submit" value="submit">
    </form> 

{% endblock %}