{% extends "carDiagnosis/all.html" %}

{% block modelData %}

<form action="", method="POST"> {% csrf_token %}
    <p>{{ engine.0 }}</p>

    <label for="engine_volume">Engine volume: </label>
    <input id="engine_volume" type="text" name="engine_volume" value="{{ engine.2 }}">

    <label for="engine_type">Engine type: </label>
    <input id="engine_type" type="text" name="engine_type" value="{{ engine.3 }}">

    <label for="engine_power">Engine power:</label>
    <input id="engine_power" type="text" name="engine_power" value="{{ engine.4 }}">
    
    <input type="submit" value="submit">
</form> 

{% endblock %}