{% extends "carDiagnosis/all.html" %}

{% block modelData %}

<form action="", method="POST"> {% csrf_token %}
    <p>{{ gasStationCar.0 }}</p>
    <p>{{ gasStationCar.1 }}</p>

    <label for="by_whom">Filled by: </label>
    <input id="by_whom" type="text" name="by_whom" value="{{ gasStationCar.2 }}">

    <label for="fuel_type">Which fuel: </label>
    <input id="fuel_type" type="text" name="fuel_type" value="{{ gasStationCar.3 }}">

    <label for="amount_of_fuel">How much: </label>
    <input id="amount_of_fuel" type="text" name="amount_of_fuel" value="{{ gasStationCar.4 }}">
    
    <input type="submit" value="submit">
</form> 

{% endblock %}
